/*edited */
.top
{
    
    margin-top: 25px
}
.sptop{
    width: 68%;
    height: 37px;
    border: none;
    color: #2c2c2c;
    outline: none;
    outline-color: #00C383;
    z-index: 9;
}

.searchButtontop{
    color: #2C2C2C;
    background-color: #fffefe;
    border: none;
    z-index: 10;
}
.menu
{
    position: fixed;
    left: 7%;
    top: 7px;
}
.brand
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8.5px;
    font-size: 20px;
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    font-size: 20px;
    top:40px;*/
}
.bell
{
    position: fixed;
    right: 7%; 
    top: 20px; 
}
.nav span
{
 /*   margin-top: 50%;
    transform: translateY(-50%);
    */
}
.doc-con div
{
    float: left;
}
/*edited */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@media screen and (max-height: 650px)
{
    .lcv{height: 45% !important;}
}
@media screen and (min-height: 800px)
{
    .lcb{height:45% !important ;}
}

.e404{
    text-align: center;
    margin: 30px;
    font-size: 3vh;
    font-family: 'Poppins' sans-serif;

}

.mybooking{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    margin-top: 30px;
    grid-gap: 15px;
    display: none;

 }
 
 .s1{
     box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
     background-color:#fffefe;
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
     height: 260px;
}
    .s1 img{
        width: 100%;
     
    }
    

    }
   .sd1{
       display: grid;
       grid-template-columns: repeat(2,minmax(150px,1fr));
   }

.nav{
    width: 90%;
    height: 30px;
    background-color:#fffefe;
    box-shadow: 0 5px 6px -6px black;
    -webkit-box-shadow: 0 5px 6px -6px black;
    -moz-box-shadow: 0 5px 6px -6px black;
    position: fixed;
    top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /*text-align: center;*/
}

.techarads{
    margin-top: 80px;
}
.techarads h1 {
    text-align: center;
    font-size: 8vh;
    font-family: 'Poppins', sans-serif;
    color: #2c2c2c;
    letter-spacing: 2px;
}
.techarads p{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    line-height: 10px;
    letter-spacing: 2px;
    font-size: 2vh;
}
.randomdoctor{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, minmax(240px, 1fr));
    margin-top: 30px;
    grid-gap: 20px;
    text-align: center;
    width: 100%;
}
   .clinic {
       height: 300px;
    

   }
   .clinic h3 {
       font-family: 'Poppins' sans-serif;
       margin-top: -40px;
       font-size: 2vh;
   }
   .clinic img{
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
       margin-left: 10px;
       margin-right: 10px;
}
 .a1{
     height: 120px;
     width: 340px;
     background-color:#fffefe;
     margin-top: 200px;
     -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
     -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
     box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
     justify-content: center;
     border-radius:10px ;
     -webkit-border-radius:10px ;
     -moz-border-radius:10px ;
     -ms-border-radius:10px ;
     -o-border-radius:10px ;
     display: none;
}
 .a1 h3{
     color: #F77302;
     font-family: 'Poppins', sans-serif;
     text-align: center;
     margin-top: 30px;
     letter-spacing: 1px;
 }
 .a1 p{
     font-family:'Poppins',sans-serif;
     color: #2C2C2C;
     font-size: 2vh;
     text-align: center;
     margin-top: 30px;
     letter-spacing: 1px;
     
 }
 .btn{
    height: 55px;
    width: 150px;
    background-color:#00C383;
    border-radius: 30px;
    margin: 20px auto;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: none;
}
 .btn p{
     padding:15px 15px;
     text-align: center;
     color: #fffefe;
     font-size: 3vh;
     font-family: 'Poppins' sans-serif;
     font-weight: 400;
     letter-spacing: 1px;
     
 }
 .dd {
     display: grid;
     grid-template-columns: repeat(1,minmax(250px,1fr));
     
 }
 .dd1{
     margin-left: 20px;
 }
 .dd1 h3{
     margin-left: 120px;
     font-size: 3.5vh;
     margin-top: -85px;
     font-family: 'Poppins',sans-serif;
     color:#595959;
     letter-spacing: 1px;
 }
 .dd1 h4{
     font-family: 'Poppins',sans-serif;
     margin-left: 120px;
     margin-top: -25px;
     letter-spacing: 1px;
     color: #595959;
     font-size: 2.5vh;
 }
 .dd1 li{
    
     display: inline;
     padding: 0 3px;
 }
 .dd1 ul {
     margin-top:-20px;
     margin-left: 75px;
 }
 .ddt{
     display: grid;
     grid-template-columns: repeat(2,minmax(120px,1fr));
    
 }
 .ddt1 h3{
     margin-left: 0;
     margin-top: 10px;
     font-family: 'Poppins',sans-serif;
     font-size: 3vh;
     color: #595959;
 }
 .ddt1 p{
     font-family: 'Poppins',sans-serif;
     font-size: 1.5vh;
     letter-spacing: 1px;
     margin-top: -10px;
     line-height: 15px;
     color:#595959;

 }
 .ddt2 h3{
     margin-left: 0;
     margin-top: 10px;
     font-size: 3vh;
     margin-left: 10px;
     color: #595959;
 }
 .ddt2 p {
     font-family: 'Poppins',sans-serif;
     font-size: 2vh;
     margin-top:-20px;
     margin-left: 10px;
     color: #595959;
 }
 .ddts{
     display: grid;
     grid-template-columns: repeat(1,minmax(250px,1fr));
     margin-left: 20px;

 }
 .ddts p {
     font-family: 'Poppins',sans-serif;
     font-size: 2vh;
     color: #595959;
 }
 .service h3{
     font-family: 'Poppins',sans-serif;
     font-size: 3vh;
     color: #595959;
 }
 .all ul{
     margin-left: 0;
     
 }
 .all li {
     margin-left: 0;
 }
 .all p {
     color: #595959;

 }




@media all and (max-width:767px){
    body,html{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        
    
    }
    .nav{
        height: 40px;
        z-index: 5;
        left: 0;
        margin: 0 auto;
}
    .techarads{
        margin-top: 90px;
    }
    .techarads h1 {
        font-size: 5vh;
        font-family: 'Poppins', sans-serif;
    }
    .techarads p{
        line-height: 8px;
        font-size: 1.5vh;
        font-weight: bold;
    }
    .randomdoctor{
 
        display: grid;
        grid-template-columns: repeat(2, minmax(120px, 1fr));
        gap: 10px;
       margin: auto;
       margin-top: 30px;
 
  
    
    }
    .clinic{
        height: 200px;
    }
    .clinic img {
        height: 90%;
        width: 90%;
    }
    .a1{
        height: 120px;
        width: 340px;
        background-color:#fffefe;
        margin: 200px auto;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        justify-content: center;
        border-radius:10px ;
        -webkit-border-radius:10px ;
        -moz-border-radius:10px ;
        -ms-border-radius:10px ;
        -o-border-radius:10px ;
        display: block;
   }
    .a1 h3{
        color: #F77302;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: 30px;
        letter-spacing: 1px;
    }
    .a1 p{
        font-family:'Poppins',sans-serif;
        color: #2C2C2C;
        font-size: 2vh;
        text-align: center;
        margin-top: 30px;
        letter-spacing: 1px;
        
    }
    .a2{
        width: 167.15;
        height: 55.04;
        background-color: #00C383;
    }
    .btn{
        height: 55px;
        width: 150px;
        background-color:#00C383;
        border-radius: 30px;
        margin: -160px auto;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        display: block;
    }
     .btn p{
         padding:15px 15px;
         text-align: center;
         color: #fffefe;
         font-size: 3vh;
         font-family: 'Poppins' sans-serif;
         font-weight: 400;
         letter-spacing: 1px;
         
     }
     .mybooking{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, minmax(250px, 1fr));
        margin-top: 30px;
        grid-gap: 15px;
        

     }
     
     .s1{
         box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
         background-color:#fffefe;
         border-radius: 15px;
         -webkit-border-radius: 15px;
         -moz-border-radius: 15px;
         -ms-border-radius: 15px;
         -o-border-radius: 15px;
         height: 240px;
         margin-left: 25px;
         margin-right: 25px;
}
        .s1 img{
            width: 100%;
         
        }
       

.sbtn p{
    padding: 4px 4px;
    font-family: 'Poppins' sans-serif;
    color: #fffefe;
    font-size: 2vh;
    font-weight: 900;
    letter-spacing: 1px;
}
.e404{
    display: none;
}
.dd {
    display: grid;
    grid-template-columns: repeat(1,minmax(250px,1fr));
    
}
.dd1{
    margin-left: 20px;
}
.dd1 h3{
    margin-left: 120px;
    font-size: 3.5vh;
    margin-top: -85px;
    font-family: 'Poppins',sans-serif;
    color:#595959;
    letter-spacing: 1px;
}
.dd1 h4{
    font-family: 'Poppins',sans-serif;
    margin-left: 120px;
    margin-top: -25px;
    letter-spacing: 1px;
    color: #595959;
    font-size: 2.5vh;
}
.dd1 li{
    list-style-type: square disc;
    display: inline;
    padding: 0 3px;
}
.dd1 ul {
    margin-top:-20px;
    margin-left: 75px;
}
.ddt{
    display: grid;
    grid-template-columns: repeat(2,minmax(120px,1fr));
   
}
.ddt1 h3{
    margin-left: 0;
    margin-top: 10px;
    font-family: 'Poppins',sans-serif;
    font-size: 3vh;
    color: #595959;
}
.ddt1 p{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5vh;
    letter-spacing: 1px;
    margin-top: -10px;
    line-height: 15px;
    color:#595959;

}
.ddt2 h3{
    margin-left: 0;
    margin-top: 10px;
    font-size: 3vh;
    margin-left: 10px;
    color: #595959;
}
.ddt2 p {
    font-family: 'Poppins',sans-serif;
    font-size: 2vh;
    margin-top:-20px;
    margin-left: 10px;
    color: #595959;
}
.ddts{
    display: grid;
    grid-template-columns: repeat(1,minmax(250px,1fr));
    margin-left: 20px;

}
.ddts p {
    font-family: 'Poppins',sans-serif;
    font-size: 2vh;
    color: #595959;
}
.all ul{
    margin-left: 0;

}
.all li {
    margin-left: 0;
}
.all p{
    color: #595959;
    font-family: 'Poppins',sans-serif;
    font-size: 2vh;
    
}
.dbtn{
  background-color:#00C383;
  overflow: hidden;
  position: fixed;
  bottom: 10px;
  width: 168px;
  height: 55px;
  z-index: 1000;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  cursor: pointer;
}
.dbtn p{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    margin-top: 14px;
    font-weight: 800;
    color: #fffefe;
    
   
}
.rev h2 {
    text-align: center;
    color:#00C383;
    font-family: 'Poppins',sans-serif;
}
.tea {
    display: grid;
    grid-template-columns: repeat(1,minmax(250px,1fr));
    margin-top: 20px;
    gap:20px;
}
.tea1{
    display: grid;
    grid-template-columns: repeat(2,minmax(120px,1fr));
    gap:10px;
    
}
.tea2 img {
    margin-left: 40px;
    height: 100px;
    width: 100px;
}
.tea2 h6{
    margin-top: 10px;
    color: #595959;
    font-size: 2vh;
    line-height: 15px;
}
.teap{
    display: grid;
    grid-template-columns: repeat(1,minmax(250px,1fr));
}
.teap p {
    font-family: 'Poppins',sans-serif;
    font-size: 1.8vh;
    margin-left: 30px;
    margin-top: -15px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.techarads h2{
    font-size: 4vh;
    text-align: center;
    color: #2c2c2c;
    font-family: 'Poppins',sans-serif;
}
.lt{
    display: grid;
    grid-template-columns: repeat(1,minmax(250px,1fr));
    gap:40px;
    margin-top: 3em;
    margin-left: 20px;
    margin-right: 20px;
}
.lt2{
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,1fr));
    gap:30px;
}
.lt input{
    width: 100%;
    background: transparent;
    border: none;
    line-height: 3em;
    border-bottom: 1.5px solid #2c2c2c;
    color: #595959;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    outline: none;
}
::-webkit-input-placeholder{
    opacity: 1;
}
.lt input:hover{
    border-bottom: 1.5px solid #00C383;
    transition-duration: 1s;
}
#sex{
    margin-top: 20px;
    width: 100%;
    outline: none;
    font-family: 'Poppins'sans-serif;
    color: #595959;
    background: transparent;
    border: 1.5px solid #2c2c2c;
    height: 30px;
    
}
#sex:hover{
    border-color: #00C383;
    transition-duration: 1s;
}
.d1btn{
    background-color:#00C383;
  overflow: hidden;
  position: fixed;

  bottom: 30px;
  width: 168px;
  height: 55px;
  z-index: 1000;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  cursor: pointer;

}
.d1btn p {
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    margin-top: 14px;
    font-weight: 800;
    color: #fffefe;
}
#googlemaps {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 0; 
  }
  .lcv{
      bottom: 0;
      width: 100%;
      height: 40%;
      background-color: #E1ECE9;
      z-index: 1;
      position: absolute;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
     /* display: grid;
      grid-template-columns: repeat(1,minmax(100%,1fr));*/


  }

  
.lc1 h2{
    color: #2C2C2C;
    font-family: 'Poppins',sans-serif;
    font-weight: 200;
    text-align: center;
}
.lcbtn{
    width: 100%;
    height: 50px;
    bottom: 0;
    position: fixed;
    background-color: #00C383;
    cursor: pointer;
    z-index: 3;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.lcbtn p {
    color: #fffefe;
    font-family: 'Poppins',sans-serif;
}
.search{
    justify-content: center;
    display: flex;
}
.sp{
    width: 80%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 30px;
    border: none;
    color: #2c2c2c;
    outline: none;
    outline-color: #00C383;
}

.searchButton{
    color: #2C2C2C;
    background-color: #fffefe;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    
}
.lc1 h4{
    color: #2C2C2C;
    margin-left: 25px;
}
.lc1 label{
    margin-left: 18px;
    margin-top: 10px;
    color: #2C2C2C;
    font-family: 'Poppins',sans-serif;
}
.lcc{
    margin-top: -10px;
}
#circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fffefe;
    margin-left: 25px;
    margin-top: 10px;

}
#circle i{
    text-align: center;
    color: #595959;
    margin-top: 5px;
    margin-left: 5px;
}
.lc2x{
    /*display: grid;
    grid-template-columns: repeat(1,minmax(250px,1fr));*/
    overflow: scroll;
    height: 40%;
}
.lc2 p{
    text-align: center;
    color: #2c2c2c;
    font-family: 'Poppins',sans-serif;
    font-size: 2vh;
    
}
.cxx{
    margin-top: -35px;
}
.lc1x
{
    margin-top: 20px !important;
}
.lc1x img{
    margin-left: 20px;
    
}
.lc1x p {
    margin-top: -30px;
    margin-left: 60px;
    color: #2c2c2c;
    font-family: 'Poppins',sans-serif;
}
.lc1x h6{
    margin-left: 60px;
    margin-top: -15px;
    font-size: 1vh;
    color: black;
    letter-spacing: 0.5px;
}
.lc1x h5{
    margin-left: 80%;
    margin-top: -30px;
    color: #4285F4;
}
.lcb{
    /*display: grid;
    grid-template-columns: repeat(1,minmax(250px,1fr));*/
    gap: 10px;
    bottom: 0;
    width: 100%;
    gap: 0;
    
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
    background-color: #E1ECE9;
    height: 50%;
    overflow: scroll;
}
.lc1btn{
    display: grid;
    bottom:0;
    background-color: #00C383;
    grid-template-columns: repeat(2,minmax(120px,1fr));
    height: 8%;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.near p{
    font-family: 'Poppins',sans-serif;
    color: #fffefe;
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.far p {
    font-family: 'Poppins',sans-serif;
    color: #fffefe;
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    text-align: center;

}
.lc3x{
    /*display: grid;
    grid-template-columns: repeat(1,minmax(300px,1fr));*/
    background-color: #E1ECE9;
    bottom: 5%;
    z-index: 1;
    height: 70%;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}
.lc3x2{
    /*display: grid;
    grid-template-columns: repeat(1,minmax(100%,1fr));*/
}
.lc3x3
{
    height: 30px;
    margin-top: 20px;
    /*border: 1px solid red;*/
}
.lc3x3 h5{
    margin-top: -37px;
    margin-left: 70px;
    font-family: 'Poppins',sans-serif;
    color: #2C2C2C;

}
.lc3x3 h6{
    margin-top: -15px;
    margin-left: 70px;
    font-family: 'Poppins',sans-serif;
    font-size: 1vh;
    letter-spacing: 0.5px;
    color: #2c2c2c;
}
.lc3x3  img{
    height: 40px;
    width:  40px;
    margin-top: 10px;
    margin-left: 20px;
}
.lc3x3 p{
    margin-left: 280px;
    margin-top: -32px;
    font-family: 'Poppins',sans-serif;
    color: #4285F4;
}
.lc3x3 li{
    list-style: none;
    margin-top: -20px;
    margin-left: 70px;
    
}
.lc3x3 li i{
    color: #CEA10C;
    font-size: 1.5vh;
}
.sidenav {
    height: 95%;
    width: 0;
    position: fixed;
    /*z-index: 2;*/
    top: 50PX;
    left: 0;
    background-color: #434343;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 60px;*/
    z-index: 10;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fffefe;
    display: block;
    transition: 0.3s;
    font-family: 'Poppins',sans-serif;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .icon{
      height: 150px;
      width: 100%;
  }
  .icon img{
      height: 100px;
      width: 100px;
      margin-top: 20px;
  }

  .clincd{
      display: grid;
      grid-template-columns: repeat(1,minmax(300px,1fr));
      gap: 10px;
  }
  .pp{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
  }
  .clinicd1 img{
      width: 100%;
      -webkit-mask-image: -webkit-gradient(linear, 
    left right, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }
  .clip{
      top:210px;
      margin-left: 20px;
      position: absolute;
      z-index: 1;
  }
  .clip h1{
      font-family: 'Poppins',sans-serif;
      color: #fffefe;
      font-size: 4vh;
      letter-spacing: 0.5px;
  }
  .clip li{
      color: #fffefe;
      margin-top: -15px;
  }
  .clip p{

      font-size: 1.5vh;
      line-height: 3px;
      font-family: 'Poppins',sans-serif;
      letter-spacing: 0.5px;
  }
  .clinicd2 p{
      font-family: 'Poppins',sans-serif;
      font-size: 2.5vh;
      margin-left: 10px;
      margin-right: 10px;
      font-weight: 200;
      letter-spacing: 0.5px;
      color:#595959;
      -webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }
  .cbtn{
  height: 30px;
  width: 110px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 19px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 19px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 19px -1px rgba(0,0,0,0.5);
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  position: absolute;
  top: 520px;
  border-radius: 20px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  font-family: 'Poppins',sans-serif;
  font-size: 2.3vh;
}
.cbtn i{
  color: #595959;
}
.clinicd3{
    display: grid;
    grid-template-columns: repeat(2,minmax(150px,1fr));
    gap: 10px;
    background-color: #fffefe;
    
    
}
.sd1{
    display: grid;
    grid-template-columns: repeat(2,minmax(150px,1fr));
}
.sd1 h4{
    margin-top: 10px;
    font-family: 'Poppins',sans-serif;
    color: #2c2c2c;
    margin-left: 5px;

}
.sd1 h5{
    margin-top: -15px;
    margin-left: 5px;
    font-family: 'Poppins',sans-serif;
    color: #2c2c2c;
    letter-spacing: 0.5px;
}
.csbtn{
    height: 50px;
    width:150px;
    background-color: #00C383;
    margin-left: 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-top: 15px;
}
.date p{
    line-height: 10px;
    font-family: 'Poppins',sans-serif;
    color: #595959;
    font-size: 2vh;
}
.ddcall{
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 3px 19px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 19px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 19px -1px rgba(0,0,0,0.5);
    z-index: 3;
    
}
.bt1{
    height: 40px;
    width: 110px;
    background-color: #00C383;
    margin-left: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: #fffefe;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sd12 h4{
    margin-top: 10px;
    font-family: 'Poppins',sans-serif;
}

.clinicd4{
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,1fr));
    
}
.clinicd5{
    display: grid;
    grid-template-columns: repeat(1,minmax(100%,1fr));
    gap: 10px;
    margin-top: -20px;
}
.clinicd6 h3{
    color: #00C383;
    text-align: center;


}
.clino{
    display: grid;
    grid-template-columns: repeat(1,minmax(100%,1fr));
    gap:20px;
    margin-top: 30px;
}
.clino1{
    display: grid;
    grid-template-columns: repeat(1,minmax(100%,1fr));
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.clino1x{
    display: grid;
    grid-template-columns: repeat(2,minmax(150px,1fr));
}
.dts h3{
    color: #595959;
    font-family: 'Poppins',sans-serif;
    font-size: 2vh;
    margin-left: 20px;
    margin-top: 20px;
}
.dts p{
    color: #595959;
    font-family: 'Poppins',sans-serif;
    font-size: 1.3vh;
    margin-left: 20px;
}
.dts li i{
    color: #00C383;
    font-size: 2vh;
    
}
.dts li{
    list-style: none;
    margin-left: 20px;
    margin-top: -10px;

 
}
.dtsi img{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-left: 23%;
    
}
.dtbx{
    height: 30px;
    width: 110px;
    background-color: #00C383;
    margin-left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    margin-top: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dtbx p{
    font-family: 'Poppins',sans-serif;
    color:#fffefe;
  

}
.dtscx {
    height: 25px;
    width: 100px;
    background-color: #00C383;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    
}
.dtscx p{
    color: #fffefe;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    font-size: 2vh;
    padding: 3px 0px;
}
.csbtn p{
    color: #fffefe;
    margin-bottom: 20px;
    
    font-size: 3vh;
    font-family: 'Poppins',sans-serif;
    margin-left: 30px;
    margin-top:-8px;
    position: absolute;
}
.csbtn i{
    margin: auto;
}
.lc2c{
    height: 5%;
    margin-top: 20px;
}
.gbtn{
    height: 30px;
    width: 100px;
    background-color: #fffefe;
    -webkit-box-shadow: 0px 2px 10px 0px rgb(66, 66, 66);
    -moz-box-shadow: 0px 2px 10px 0px rgba(46,44,46,1);
    box-shadow: 0px 2px 10px 0px rgb(68, 67, 68);
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    margin-left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    text-align: center;
    color: #2C2C2C;
   vertical-align:middle;
   z-index: 3;
   display: flex;
   justify-content: center;
   align-items: center;

    
}
.gbtn p{
    color: black;
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
}
#more{
    display: none;
}
.sptop::placeholder{
    margin-left: 10px;
    color: black;
    }                                                       /*Chinmaya*/
.sdbtn{
    height: 25px;
    width: 80px;
    background-color: #00C383;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    margin-left: 40px;
    margin-top: -15px;
    border-radius: 5px;
    display: block;
    
    color:#fffefe;
    font-family: 'Poppins',sans-serif;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.icon{
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,1fr));
    background-color: #1E1E1E;


}
.icon2 {
    margin-left: 0;
    margin-top: 20%;
}
.icon2 p,h5,h6{
    color: #ffffef;
    font-family: 'Poppins',sans-serif;
    line-height: 2px;
    letter-spacing: 0.2px;
}
.icon1 img{
    margin-left: 5%;
}
.icon2 p{
    font-size: 11px;
}
.lic{
    margin-top: 60%;
}
.lic h3{
    font-family: 'Poppins',sans-serif;
    color: #fffefe;
    font-size: 20px;
    margin-left: 32px;
    

}

}